<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
       table,tr,th,td{
        border: solid black 1px;
       }
    </style>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <%for (user of users){ %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td>
                <td> <form method= "GET" action = "/user/<%=user.id %>/edit">
                    <button>Edit Username</button>
                </form></td>
                <td> <form method= "GET" action = "/user/<%=user.id %>/delete">
                    <button> Delete Data</button>
                </form></td>
               
            </tr>
         <% } %>
    </table>
</body>
</html>
